.stepProgress {
  margin-bottom: 64px;
  .title{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 48px;
  }
  .progressBlock{
    display: flex;
    align-items: center;
    .activeitem{
      display: flex;
      align-items: center;
      color:#000;
    }
    .item{
      display: flex;
      align-items: center;
      color: lightgray;
    }
      .activeNumber {
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        color: aliceblue;
      }
      .number {
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        color: lightgray;
        border: 1px solid lightgray;
      }
    
    .connectLine {
      margin: 0 32px;
      height: 1px;
      width: 60px;
      height: 2px;
      background-color: #000;
    }
  }
} 