.form {
  width: 540px;
  height: 288px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    padding: 11px 20px;
    margin-bottom: 24px;
    .radioLeft{
      display: flex;
      flex-direction: column;
    }
  }
  .checked {
    border: 1px solid #2A2A2A;
  }
  .borderNone {
    border: none;
  }
}